.header {
    background-color: rgb(13, 167, 167);
    height: 4vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.Link {
    text-decoration: none;
    color: white;
}

.Link:hover{
    text-decoration: underline;
}