.header, .activeHeader {
    background-color: rgb(13, 167, 167);
    height: 4vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.infoBtn {
    display: none;
}

.headerContent, .activeContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.hamburger {
    display: none
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}


.Link {
    text-decoration: none;
    color: white;
}

.Link:hover {
    text-decoration: underline;
}

@media (max-width:1024px) {
    .header {
        height: 5vw;
    }
}

@media (max-width:768px) {
    .header{
        background-color: rgb(13, 167, 167);
        height: 8vw;
        width: 105vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .activeContent{
        background-color: rgb(13, 167, 167);
        height: 8vw;
        width: 103vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1vw;
        padding-right: 1vw;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .activeInfoBtn{
        display: none;
    }
    

    .active {
        position: absolute;
        top: 8vw;
        height: 100vh;
        background-color: white;
        width: 105vw;
        margin-left: -1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;

    }

    .active .Link {
        color: rgb(16, 8, 97);
    }

    .active .Link:first-of-type {
        margin-top: 2vw;
    }

    .headerContent {
        width: 94%;
        margin-left: 4vw;
        color: white;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .nav {
        display: none;
    }

    .hamburger {
        display: block;
        border: none;
        background-color: inherit;
        color: white;
    }

    .hamburger svg {
        width: 5vw;
    }
}



@media (max-width: 540px) {
    .header{
        height: 2vw;
        position: absolute;
        width: 110vw;
        transition: height 1s;
    }
    .headerInfoOpen{
        width: 110vw;
        height: 17vw;
        transition: height 1s;
        background-color: rgb(13, 167, 167);
        position:relative;
        z-index: 2;
        top: 5;
    }
    .activeHeader {
        height: 17vw;
        background-color: rgb(13, 167, 167) !important;
        z-index: 5;

        opacity: 0;
    }
    .activeContent {
        margin-top: 10vw;
        width: 90%;
            margin-left: 4vw;
            color: white;
            font-weight: 700;
            font-size: 1.3rem;
            background-color: rgb(13, 167, 167);
            width: 110vw;
            margin-left: 0;
            justify-content: space-around;

            display: flex;
            height: 17vw;
            align-items: center;
    }
    .active {
        margin-top: 6.5vw;
        width: 111vw;
        height: 105vh;
    }
    .active hr {
        width: 110vw !important;
    }
    .activeInfoBtn{
        display: none;
    }
    
    .headerContent{
        top: 4vw;
        left: 3vw;
        width: 105vw;
        height: 10vw;
        position: absolute;
        margin-left: 0;
    }
    
    .logo svg{
        height: 10vw;
    }
    .hamburger svg {
        width: 10vw;
    }
    .infoBtn{
        width: 10vw;
        display: block;
        background-color: inherit;
        border: none;
        justify-self: flex-end;
        margin-left: 25vw;
    }

    .infoBtn svg {
        fill: white;
    }
}

@media (max-width:280px){
    .header, .activeContent, .activeHeader, .headerInfoOpen, .headerContent{
        width: 123.5vw;
        left: 0;
    }
    .active {
        width: 124vw;
        margin-left: 0;
        height: 150vh;
    }
    .active hr {
        width: 150vw;
        
    }
}